@import 'tailwindcss';
/* not working >:(( */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: "Special Elite";
}

body {
    background-color: #4C4661;
}

div {
    background-color: #817a9a;
    border-radius: 15px;
    border-style: none;
    padding: 1em;
    margin: 1em;
}

button {
    color: #d0cbe0;
    background-color: #262237;
    border-radius: 20px;
    border-style: none;
    padding: 0.75em 1em;
}

input {
    border-radius: 15px;
    border-style: none;
    padding: 0.5em;
    margin: 0.5em;
}

/* class stuff */

.container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container div {
    margin: 0em;
    padding: 0em;
}

.test {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.test div {
    display: flex;
    flex-direction: row;
    margin: 0em;
    padding: 0.5em;
    justify-content: space-around;
}

.test form {
    display: flex;
    flex-direction: row;
    margin: 0em;
    padding: 0.5em;
    justify-content: space-around;
}

.test div > button {
    flex-grow: 1;
    margin: 0em 0.5em;
}

.test form > button {
    flex-grow: 1;
    margin: 0em 0.5em;
}

/* #4C4661
   #39344B
   #262237 */