@import 'tailwindcss';
/* not working >:(( */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: "Special Elite";
}

body {
    background-color: #4C4661;
}

div {
    background-color: #817a9a;
    border-radius: 15px;
    border-style: none;
    padding: 1em;
}

button {
    color: #d0cbe0;
    background-color: #262237;
    border-radius: 15px;
    border-style: none;
    padding: 0.5em;
}

/* #4C4661
   #39344B
   #262237 */