@import 'tailwindcss';
/* not working >:(( */
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: "Special Elite";
}

body {
    background-color: #4C4661;
    margin: 0rem;
}

nav {
    display: flex;
    color: #d0cbe0;
    background-color: #262237;
    justify-content: space-between;
}

nav > * {
    padding: 0.5rem;
    margin: 0.5rem;
}

nav > a {
    color: #d0cbe0;
    text-decoration: none;
    font-weight: bold;
    align-self: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 0.25em;
    border-color:#262237;
}

nav > a:hover {
    background-color: #0d0b17;
    border-color: #0d0b17;
}

div {
    background-color: #817a9a;
    border-radius: 15px;
    border-style: none;
    padding: 1rem;
    margin: 1rem;
}

button {
    color: #d0cbe0;
    background-color: #262237;
    border-radius: 20px;
    border-style: none;
    padding: 0.75rem 1rem;
}

input {
    border-radius: 15px;
    border-style: none;
    padding: 0.5rem;
    margin: 0.5rem;
}

/* fixme something wacky is going on here */
footer {
    color: #d0cbe0;
    background-color: #262237;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* class stuff */

.body-center {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.body-center > * {
    padding: 1rem;
}

.body-center > header {
    padding: 0rem;
}

.body-center > form {
    padding: 0rem;
}

.test {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.test div {
    display: flex;
    flex-direction: row;
    margin: 0rem;
    padding: 0.5rem;
    justify-content: space-around;
}

.test form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0rem;
    padding: 0.5rem;
    justify-content: space-around;
}

.test div > button {
    flex-grow: 1;
    margin: 0rem 0.5rem;
}

.test form > button {
    flex-grow: 1;
    margin: 0rem 0.5rem;
}

/* #4C4661
   #39344B
   #262237 */